@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-text: #364FC7;
    --background1: linear-gradient(123.97deg, #5F3DC4 0%, #5C7CFA 97.01%);
}

* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.center {
    max-width: 75rem;
    margin: auto;
}


.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
}


.logotipo {
    top: 0.43rem;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-container {
    display: flex;
}

.nav-container li {
    margin: 0 1rem;
}

#btn-templates {
    font-weight: 600;
    color: white;

}

.others-btn-container {
    z-index: 2;
}


.others-btn-container button {
    background: linear-gradient(117.88deg, #845EF7 0%, #364FC7 100%);
    border: none;
    margin-left: 2rem;
    box-shadow: 0px 0px 0.5rem #5F3DC4;
    border-radius: 0.25rem;
    width: 10.25rem;
    height: 3rem;
    cursor: pointer;
}

.others-btn-container button a {
    color: white;
    font-weight: 600;
    line-height: 1.31rem;
}

#svg-background>div {
    position: absolute;
    top: 0;
    right: 0;
}

#logotipo-gg {
    margin-top: 3.12rem;
}

.info-text {
    margin-top: 5.75rem;
    max-width: 40.75rem;
}

.paragraph-text {
    margin-top: 4rem;
    max-width: 40.75rem;
}

.info-text h1 {
    height: 12rem;
    line-height: 4rem !important;
    font: normal 900 3.5rem 'Nunito sans', sans-serif;
    color: var(--color-text);
}

.info-text p {
    margin-top: 2rem;
    font: normal 300 1.5rem 'Nunito sans', sans-serif;
    color: #868E96;
    line-height: 1.93rem;
}

.btn-offers {
    margin-top: 2.87rem;
}

.info-text button {
    margin-top: 2.87rem;
    cursor: pointer;

    background: linear-gradient(123.97deg, #5F3DC4 0%, #5C7CFA 97.01%);
    border: none;
    box-shadow: 0 0 0.5rem #5F3DC4;
    border-radius: 0.25rem;

    width: 17.43rem;
    height: 3.5rem;
}

.info-text button>a {
    letter-spacing: 0.03em;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
}

#keep-exposing > a {
    margin-top: 5.93rem;
    justify-content: initial;
    display: flex;
    align-items: center;
}

#keep-exposing i {
    margin-right: 0.75rem;
    font-size: 2rem;
    color: #364FC7;
}

#keep-exposing p {
    font-size: 1.12rem;
    color: #364FC7;
}

.sec-container1 {
    margin-top: 3.25rem;
    height: 12.75rem;
    background: linear-gradient(123.97deg, #5F3DC4 0%, #5C7CFA 97.01%);
}

.sec-container1>div>p {
    padding-top: 2rem;
    text-align: center;
    font: normal 700 2rem 'Nunito sans', sans-serif;
    color: white;
}

.container-sec1 {
    background: white;
    max-width: 75rem;
    margin-top: -6.75rem;

    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
}

.list1,
.list2 {
    display: flex;
    padding: 2.5rem 4.43rem 3.75rem 4.43rem;
    justify-content: space-around;
    align-items: center;
}

.list1>div>h1,
.list2>div>h1 {
    color: #364FC7;
    font: normal 700 1.5rem 'Nunito sans', sans-serif;
}

.list1>div>p,
.list2>div>p {
    max-width: 16.37rem;
    margin-top: 12px;
    color: #868E96;
    font: normal 400 1rem 'Nunito sans', sans-serif;
}

.list1>div {
    align-items: flex-start;
}

.list1>div>img,
.list2>div>img {
    margin: 0 0 1.5rem 0;
}

.step-dev-title {
    max-width: 69.5rem;
    margin-top: 3.81rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-dev-title>h1 {
    font: normal 700 2rem 'Nunito sans', sans-serif;
    color: #364FC7;
    max-width: 30.5rem;
}

.step-dev-title>p {
    font: normal 600 1rem 'Nunito sans', sans-serif;
    color: #4C6EF5;
    max-width: 26rem;
}

#step-dev {
    margin-top: 3.43rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps {
    display: flex;
}


.steps>div>h1 {
    font: normal 700 0.87rem 'Nunito sans', sans-serif;
    color: #364FC7;
    margin-left: 24px;
}

.steps>div>p {
    font: normal 400 0.87rem 'Nunito sans', sans-serif;
    color: #868E96;
    margin: 0.50rem 0 0 1.5rem;
    line-height: 1.12rem;
    max-width: 16.43rem;
}

.vector {
    margin: 0.73rem 0 0.73rem 2.25rem;
    width: 4.5rem;
}

#fast-value-button {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fast-value-button>button {
    background: linear-gradient(123.97deg, #5F3DC4 0%, #5C7CFA 97.01%);
    width: 262px;
    height: 56px;
    border: none;
    box-shadow: 0px 0px 8px #5F3DC4;
    border-radius: 8px;
    margin: 0 0 8.75rem 0;
}

#fast-value-button>button>a {
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 600 1.25rem 'Nunito Sans', sans-serif;
    color: white;
    letter-spacing: 0.03em;
}

#fast-value-button>button>a>i {
    font-size: 2rem;
    margin-left: 0.25rem;
}

#container-sec2 {
    background: linear-gradient(123.97deg, #5F3DC4 0%, #5C7CFA 97.01%);
}

.sec-container2 {
    margin-top: 3.25rem;
    height: 29.5rem;
    background: linear-gradient(123.97deg, #5F3DC4 0%, #5C7CFA 97.01%);
}

#cont2 {
    padding-top: 10rem;
}

#cont2 > h1 {
    font: normal 600 1.25rem 'Nunito sans', sans-serif;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: white;
}

#cont3 {
    margin: 5.12rem 0 0 6.25rem;
}

#cont3 > div > h1 {
    font: normal 700 2rem 'Nunito sans', sans-serif;
    letter-spacing: 0.01em;
    max-width: 25.81rem;
    line-height: 2.62rem;
    color: white;
}

#cont3 > div > p {
    font: normal 400 1rem 'Nunito sans', sans-serif;
    color: white;
    line-height: 1.31rem;
    max-width: 25.81rem;
    margin-top: 1.25rem;
}

#teste {
    text-align: end;
    margin: -420px 0 0 18.31rem;
}